*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    color: rgba(255, 255, 255, 0.87);
    background: #111827;
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 40rem;
    height: 100dvh;
    margin-inline: auto;
    display: block;
}
