*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    color: rgba(255, 255, 255, 0.87);
    background: #111827;
    font-family: 'Roboto', sans-serif;
    /* display: flex; 
    justify-content: center;
    align-items: center; */
}

/* Pre Loader */
/* #logo {
    width: 40rem;
    height: 100dvh;
    margin-inline: auto;
    display: block;
} */

/* Magnetic effect */
/* .icons {
    font-size: 16rem;
}

.fa-brands {
    margin-right: 1rem;
} */

/* Split text animation */
.banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: white;
}

.section p {
    width: 50%;
}

.section-1,
.section-3 {
    background: #333;
}

